.tittle {
  color: #094931;
  font-size: 40px;
}
.colorPage {
  background-color: #edfdf9;
}

.adjustHeaderFooter {
  background-color: #63efcb;
  height: 10vh;
}
.adjustHeaderFooter:hover {
  text-decoration: none;
}

.tituloCard {
  font-size: 25px;
}
.cardEstilo {
  text-align: center;
  color: #094931;
}
.cardEstilo:hover {
  text-decoration: none;
}

.border {
  border: 1px solid black;
}
.imgSize {
  width: 100%;
}
.marginTB {
  margin: 20px 0;
}
.linkFooter {
  color: #094931;
}
