body {
  margin: 0;
}
.cardHome {
  margin: 15px 0;
  background-color: #bcf8e9;
}
.tittleHeader {
  margin: 10px 20px;
  font-size: 38px;
}

.adjustHeader {
  background-color: #46ffbc;
  height: 8vh;
}
.border {
  border: 1px solid black;
}
